

#sequence {
	height: 500px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	overflow:hidden;
}


#slideshow * {
	-webkit-backface-visibility: hidden;
}

#main {
	border: none;
}

#sequence h2 {
	font-weight: bold;
	margin: 0 0 10px 0;
	font-size:45px;
	text-transform:uppercase;
	font-family: 'robotomedium';
}

#sequence h3 {
	font-size: 14px;
	line-height:26px;
	color:#f6f6f6;
}

#sequence h4 {
	font-size: 18px;
	line-height:26px;
	color:#f6f6f6;
	background-color:#acacac;
	font-family: 'robotomedium';
	letter-spacing:5px;
	width:250px;
	text-align:center;
	margin-bottom:20px;
}
.redmr1{width:100px;border-bottom:rgba(204,204,204,1) 1px solid;border-top:rgba(204,204,204,1) 1px solid;height:43px;color:rgba(255,255,255,1);text-align:center;margin-top:20px;}
.redmr1_sub{width:100px;border-bottom:rgba(204,204,204,1) 1px solid;border-top:rgba(204,204,204,1) 1px solid;height:35px;color:rgba(255,255,255,1);line-height:35px;text-align:center;margin-top:2.5px;font-size:13px;text-align:center;}

.redmr1:hover .redmr1_sub{color:#db0007;border-bottom:#db0007 1px solid;border-top:rgba(204,204,204,1) 1px solid;background-color:rgba(255,255,255,1);-webkit-transition:all .7s ease-in-out;
-moz-transition:all .7s ease-in-out;
-ms-transition:all .7s ease-in-out;
-o-transition:all .7s ease-in-out;
-khml-transition:all .7s ease-in-out;}

.redmr1:hover{border-top:#db0007 1px solid}


.pause-icon {
	right: 20px;
	position: absolute;
	bottom: 20px;
}

.iphone{
	left: -450px;
	opacity: 1;
	position: absolute;
	top: -350px;
	
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
	
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
		
}

.iphone.animate-in{
	left: 750px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}

.iphone.animate-out{
	left: 1100px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 00px;

	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.iphone-shadow {
	left: 598px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top:320px;
	position: absolute;

	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}

.iphone-shadow.animate-in {
	left: 598px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: 320px;

	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}

.iphone-shadow.animate-out {
	left: 598px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 320px;

	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	-ms-transition-duration: 2s;
	transition-duration: 2s;
}

.intro {
	position: absolute;
	left: -450px;
	top: -400px;
	width: 500px;

	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
	
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}

.intro.animate-in {
	left: 100px;
	top: 150px;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}

.intro.animate-out {
	left: 100px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 250px;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.ipad {
	left: -450px;
	position: absolute;
	top: 700px;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	z-index: 5;
}

.ipad.animate-in {
	left: 50px;
	top: 50px;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.ipad.animate-out {
	left: -800px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 50px;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.ipad-shadow {
	left: 30px;
	top: 508px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;

	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
}

.ipad-shadow.animate-in {
	left: 30px;
	top: 508px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.ipad-shadow.animate-out {
	left: -800px;
	top: 508px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.slide2 {
	left: 950px;
	position: absolute;
	top: 700px;
	width: 400px;

	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
}

.slide2.animate-in {
	left: 450px;
	top: 250px;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.slide2.animate-out {
	left: 800px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 250px;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.iphone2 {
	left: 400px;
	position: absolute;
	top: -600px;
	z-index: 3;
}

.iphone2.animate-in {
	left: 400px;
	top: 60px;

	-webkit-transition-duration: 2.5s;
	-moz-transition-duration: 2.5s;
	-o-transition-duration: 2.5s;
	-ms-transition-duration: 2.5s;
	transition-duration: 2.5s;

	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	-ms-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

.iphone2.animate-out {
	left: 600px;
	top: 800px;

	-webkit-transition-duration: 2.5s;
	-moz-transition-duration: 2.5s;
	-o-transition-duration: 2.5s;
	-ms-transition-duration: 2.5s;
	transition-duration: 2.5s;

	-webkit-transform: rotate(100deg);
	-moz-transform: rotate(100deg);
	-o-transform: rotate(100deg);
	-ms-transform: rotate(100deg);
	transform: rotate(100deg);
}

.iphone2-shadow {
	position: absolute;
	left: 398px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 530px;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.iphone2-shadow.animate-in {
	left: 398px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: 530px;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;

	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	-o-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
}

.iphone2-shadow.animate-out {
	left: 398px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 530px;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.iphone3-shadow {
	position: absolute;
	left: 500px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 507px;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;

	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.iphone3-shadow.animate-in {
	left: 500px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: 507px;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;

	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	-ms-transition-delay: .5s;
	transition-delay: .5s;
}

.iphone3-shadow.animate-out {
	left: 500px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 507px;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;

	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.iphone4-shadow {
	position: absolute;
	left: 575px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 485px;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

.iphone4-shadow.animate-in {
	left: 575px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: 485px;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

.iphone4-shadow.animate-out {
	left: 575px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 485px;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

.iphone3 {
	left: 500px;
	top: -600px;
	position: absolute;

	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-o-transform: scale(.9);
	-ms-transform: scale(.9);
	transform: scale(.9);
	z-index: 2;
}

.iphone3.animate-in {
	left: 500px;
	top: 60px;

	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	-ms-transition-duration: 2s;
	transition-duration: 2s;

	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	-ms-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

.iphone3.animate-out {
	left: 700px;
	top: 800px;

	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	-ms-transition-duration: 2s;
	transition-duration: 2s;

	-webkit-transform: rotate(100deg);
	-moz-transform: rotate(100deg);
	-o-transform: rotate(100deg);
	-ms-transform: rotate(100deg);
	transform: rotate(100deg);
}

.iphone4 {
	left: 575px;
	top: -600px;
	position: absolute;
	z-index: 1;

	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-o-transform: scale(.8);
	-ms-transform: scale(.8);
	transform: scale(.8);
}

.iphone4.animate-in {
	left: 575px;
	top: 60px;

	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;

	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	-ms-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

.iphone4.animate-out {
	left: 800px;
	top: 800px;

	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;

	-webkit-transform: rotate(100deg);
	-moz-transform: rotate(100deg);
	-o-transform: rotate(100deg);
	-ms-transform: rotate(100deg);
	transform: rotate(100deg);
}

.slide3 {
	position: absolute;
	left: -800px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 250px;
	width: 250px;
}

.slide3.animate-in {
	left: 100px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: 250px;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;

	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	-o-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
}

.slide3.animate-out {
	left: 900px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	top: 250px;

	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}



@media only screen and (min-width: 900px) and (max-width:1200px) {
	

.intro {
	position: absolute;
	left: -450px;
	top: -400px;
	width: 400px;
}
	.intro.animate-in {
	left: 50px;
	top: 100px;
}
.iphone.animate-in{
	left: 550px;
	opacity: 1;
	top: 0px;
	
}

}

@media only screen and (min-width: 780px) and (max-width:899px) {
	

.intro {
	position: absolute;
	left: -450px;
	top: -400px;
	width: 350px;
}
	.intro.animate-in {
	left: 50px;
	top: 100px;
	
}
.iphone.animate-in{
	left: 420px;
	opacity: 1;
	top: 0px;
	height:450px;
	
}
#sequence {
	height: 450px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	overflow:hidden;
}

}
@media only screen and (min-width: 680px) and (max-width:779px) {
	

.intro {
	position: absolute;
	left: -450px;
	top: -400px;
	width: 300px;
}
	.intro.animate-in {
	left: 20px;
	top: 40px;
}
.iphone.animate-in{
	left: 380px;
	opacity: 1;
	top: 0px;
	height:400px;
}
#sequence {
	height: 400px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	overflow:hidden;
}
#sequence h2 {
	margin: 0 0 10px 0;
	font-size:25px;
}

#sequence h3 {
	font-size: 14px;
	line-height:22px;
}

#sequence h4 {
	font-size: 16px;
	line-height:26px;
	color:#f6f6f6;
	width:230px;
	margin-bottom:20px;
}

}

@media only screen and (min-width: 570px) and (max-width:679px) {
	

.intro {
	position: absolute;
	left: -450px;
	top: -400px;
	width: 250px;
}
	.intro.animate-in {
	left: 20px;
	top: 40px;
}
.iphone.animate-in{
	left: 300px;
	opacity: 1;
	top: 0px;
	height:400px;
}
#sequence {
	height: 400px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	overflow:hidden;
}
#sequence h2 {
	margin: 0 0 10px 0;
	font-size:25px;
}

#sequence h3 {
	font-size: 14px;
	line-height:22px;
}

#sequence h4 {
	font-size: 16px;
	line-height:26px;
	color:#f6f6f6;
	width:230px;
	margin-bottom:20px;
}

}

@media only screen and (min-width: 500px) and (max-width:569px) {
	

.intro {
	position: absolute;
	left: -450px;
	top: -400px;
	width: 250px;
	
}
	.intro.animate-in {
	left: 20px;
	top: 90px;
}
.iphone.animate-in{
	left: 260px;
	opacity: 1;
	top: 0px;
	height:300px;
}
#sequence {
	height: 300px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	overflow:hidden;
}
#sequence h2 {
	margin: 0 0 10px 0;
	font-size:25px;
}

#sequence h3 {
	font-size: 14px;
	line-height:22px;
	display:none;
}

#sequence h4 {
	font-size: 16px;
	line-height:26px;
	color:#f6f6f6;
	width:230px;
	margin-bottom:20px;
}

}


@media only screen and (min-width: 280px) and (max-width:499px) {
	

.intro {
	position: absolute;
	left: -450px;
	top: -400px;
	width: 250px;
	
}
	.intro.animate-in {
	left: 10%;
	top: 320px;
}
.iphone.animate-in{
	left: 20%;
	opacity: 1;
	top: 20px;
	height:300px;
	
}
#sequence {
	height: 530px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	overflow:hidden;
}
#sequence h2 {
	margin: 0 0 10px 0;
	font-size:25px;
	text-align:center;
}

#sequence h3 {
	font-size: 14px;
	line-height:22px;
	display:none;
}

#sequence h4 {
	font-size: 16px;
	line-height:26px;
	color:#f6f6f6;
	width:230px;
	margin-bottom:20px;
	margin-left:auto;margin-right:auto;
}
.redmr1{width:100px;border-bottom:rgba(204,204,204,1) 1px solid;border-top:rgba(204,204,204,1) 1px solid;height:43px;color:rgba(255,255,255,1);text-align:center;margin-top:20px;margin-left:auto;margin-right:auto;}
}